<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Newera Plugin Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">includes/Core</directory>
            <directory suffix=".php">includes/Database</directory>
            <directory suffix=".php">includes/Modules</directory>
        </include>
        <exclude>
            <directory suffix=".php">includes/Admin</directory>
            <directory suffix=".php">includes/API</directory>
            <directory suffix=".php">includes/Payments</directory>
            <directory suffix=".php">includes/Projects</directory>
            <directory suffix=".php">includes/Integrations</directory>
            <directory suffix=".php">includes/AI</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage" lowUpperBound="35" highLowerBound="70"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>
</phpunit>